.home {
    position: absolute;
    transform: translateX(-50%, -50%);
    top: 20%;
    text-align: center;
}

.home__img {
    max-width: 40%;
    margin-bottom: 25px;   
}

.home__fatherimg {
    display: flex;
    justify-content: center;
}

.home__phrase {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.1em;
    margin-top: 15px;
    margin-bottom: 15px;
}

.home__input {
    width: 300px;
    height: 30px;
    border: 1px solid gray;
    border-bottom-left-radius: 0.7em;
    border-top-left-radius: 0.7em;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Press Start 2P', cursive;
}

.home__name {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home__button {
    color: white;
    background-color: #E50013;
    border: 1px solid #E50013;
    height: 30px;
    border-top-right-radius: 0.7em;
    border-bottom-right-radius: 0.7em;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'Press Start 2P', cursive;
}

.home__button:hover {
    color: #E50013;
    background-color: #dfe1e142;
}

@media only screen and (max-width: 768px) {
    .home__img {
        max-width: 300px;       
        left: 50%;
    }
}